body {
    padding-top: 56px;
}
.navbar {
    background-color: #007bff;
}
.navbar-brand,
.navbar-nav .nav-link {
    color: #fff; 
}
.navbar-nav .nav-link:hover {
    color: #fff; 
}
.navbar-nav .nav-link {
    color: #ffffff !important;
}
.logout-btn {
    background-color:red; 
    border-radius: 10px; /* Adjust the value to control the roundness */
    border: 2px solid #000; /* Example border style */
}
.logout-btn:hover {
    background-color: #ffffff00;
    border-color: #000000;
    color: black; /* Changing text color to black */
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    text-align: center;
    line-height: 50px; /* Height of the footer */
    color: white;
}
footer span {
    background-color: #007bff;
    padding: 5px;
}
