{% extends "dashboard_layout.html" %}
{% block body %}

<link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet">

<form id="deleteForm" method="POST" action="{{ url_for('delete', sno=post.sno) }}"
    style="margin-top: 70px; padding: 20px;">
    <div class="inForm">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <h2>Confirm Delete Post?</h2>

        <div>
            <p><strong>Title: </strong> {{ post.title }}</p>
            <p><strong>Content: </strong> {{ post.content }}</p>
        </div>
        <br>

        <button id="dbutton" type="submit">Delete</button>
        <button id="ubutton" type="button" onclick="cancelDelete()" style="margin-top: 10px;">Cancel</button>
    </div>

</form>
<div id="confirmationMessage">
    <p>Post deleted successfully. Redirecting to dashboard...</p>
</div>
<script>
    document.getElementById("deleteForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Hide the form
        this.style.display = "none";

        // Show the confirmation message
        document.getElementById("confirmationMessage").style.display = "block";  // Set display to "block" instead of "none"

        // Send an asynchronous request to delete the post
        fetch(this.action, {
            method: 'POST',
            body: new FormData(this)
        })
            .then(response => {
                if (response.ok) {
                    // Redirect to the dashboard after 2 seconds
                    setTimeout(function () {
                        window.location.href = "{{ url_for('dashboard') }}";
                    }, 2000);
                } else {
                    // If deletion fails, show an error message
                    console.error('Error:', response.statusText);
                }
            })
            .catch(error => console.error('Error:', error));
    });

</script>

{% endblock %}