<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post {{title}}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit.css') }}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href=" {{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="color: white;">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout-btn" href="{{ url_for('logout') }}">Logout</a>
                    </li </ul>
            </div>
        </div>
    </nav>

    <div class="form-container">

        <div class="my-5">
            <form name="sentMessage" id="contactForm" action="/contact" method="post" novalidate>

                <!-- Title -->
                <div class="form-floating mb-3">
                    <label for="title">Title</label>

                    <input class="form-control" id="title" name="title" type="text" placeholder="Enter your name..."
                        data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                </div>

                <!-- Tag Line -->
                <div class="form-floating mb-3">
                    <label for="tline">Tagline</label>

                    <input class="form-control" id="tline" name="tline" type="text" placeholder="Enter your email..."
                        data-sb-validations="required,email" />
                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                </div>

                <!-- Slug -->
                <div class="form-floating mb-3">
                    <label for="slug">Slug</label>

                    <input class="form-control" id="slug" name="slug" type="tel"
                        placeholder="Enter your phone number..." data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                </div>

                <!-- Content -->
                <div class="form-floating mb-3">
                    <label for="message">Content</label>

                    <textarea class="form-control" id="message" name="message" placeholder="Enter your message here..."
                        style="height: 12rem" data-sb-validations="required"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                </div>

                <!-- Img_file -->
                <div class="form-floating mb-3">
                    <label for="img_file">Image File</label>

                    <textarea class="form-control" id="img_file" name="img_file"
                        placeholder="Enter your message here..." style="height: 12rem"
                        data-sb-validations="required"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="img_file:required">An image file is required.</div>
                </div>

                <!-- Submit success message-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a
                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>

                <!-- Submit error message-->
                {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                <div class="text-center text-danger mb-3">{{ message }}</div>
                {% endfor %}
                {% endwith %}

                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>

                <!-- Submit Button-->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>

            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer><span>&copy; 2024</span></footer>
</body>

</html>