{% extends "dashboard_layout.html" %}
{% block body %}
    <div class="form-container">

        <div class="my-5">
            {% if sno == 'add' %}
            <h3>Add a New Post</h3>
            {% else %}
            <h3>Edit the Post</h3>
            {% endif %}
            <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
                <hr>
                <!-- Title -->
                <div class="form-floating mb-3">
                    <label for="title">Title</label>

                    <input class="form-control" id="title" name="title" type="text" placeholder="Enter your name..."
                        data-sb-validations="required" value="{{post.title}}" />
                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                </div>

                <!-- Tag Line -->
                <div class="form-floating mb-3">
                    <label for="tline">Tagline</label>

                    <input class="form-control" id="subtitle" name="subtitle" type="text"
                        placeholder="Enter your email..." data-sb-validations="required" value="{{post.subtitle}}" />
                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                </div>

                <!-- Slug -->
                <div class="form-floating mb-3">
                    <label for="slug">Slug</label>

                    <input class="form-control" id="slug" name="slug" type="tel" placeholder="for-example-slug."
                        data-sb-validations="required" value="{{post.slug}}" />
                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                </div>

                <!-- Content -->
                <div class="form-floating mb-3">
                    <label for="message">Content</label>

                    <textarea class="form-control" id="content" name="content" style="height: 12rem"
                        data-sb-validations="required">{{post.content}}</textarea>
                    <div class="invalid-feedback" data-sb-feedback="message:required" value="{{post.content}}">A message
                        is required.</div>
                </div>

                <!-- Img_file -->
                <div class="form-floating mb-3">
                    <label for="img_file">Image File</label>

                    <input class="form-control" id="img_file" name="img_file" type="tel"
                        placeholder="Enter your phone number..." data-sb-validations="required"
                        value="{{post.img_file}}" />
                    <div class="invalid-feedback" data-sb-feedback="img_file:required">An image file is required.</div>
                </div>

                <!-- Submit success message-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a
                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>

                <!-- Submit error message-->
                {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                <div class="text-center text-danger mb-3">{{ message }}</div>
                {% endfor %}
                {% endwith %}

                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>

                <!-- Submit Button-->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>

            </form>
        </div>
    </div>

    {% endblock %}
